{% set valueDelta = (manager.definition.values.value - manager.definition.values.previous) %}
{% set lowerIsBetter = manager.definition.source.isLowerBetter() %}
{% set icon = 'fa-equals' %}
{% set background = 'bg-secondary' %}
{% if valueDelta > 0 %}
    {% set icon = 'fa-arrow-up' %}
    {% set background =  lowerIsBetter ? 'bg-danger' : 'bg-success' %}
{% elseif valueDelta < 0 %}
    {% set icon = 'fa-arrow-down' %}
    {% set background =  lowerIsBetter ? 'bg-success':'bg-danger' %}
{% endif %}
<div class="widget-content value-compare-content card-body">
    <div class="d-flex align-items-center justify-content-center">
        <div class="value-actual text-primary fw-bold">
            {{ manager.formatValue(manager.definition.values.value) }}{{ manager.definition.source.suffix }}
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="value-delta {{ background }} text-white fw-bold">
            <i class="fas {{ icon }} me-2"></i>{{ manager.formatValue(valueDelta) }}{{ manager.definition.source.suffix }}
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="text-compare">{{ ('spipu.dashboard.compare.' ~ manager.request.period.type)|trans }}</div>
    </div>
</div>
