{% set type = null %}
{% set from = null %}
{% set to = null %}
{% set color = 'secondary' %}
{% if manager.request.period is not null %}
    {% set type = manager.request.period.type %}
    {% set color = 'danger' %}
{% endif %}
{% if type == 'custom' %}
    {% set from = manager.request.period.dateFrom | date('Y-m-d H:i:s') %}
    {% set to = manager.request.period.dateTo | date('Y-m-d H:i:s') %}
{% endif %}
<div class="col-12 col-md-7 d-flex justify-content-end align-items-start">
    <div class="dropdown">
        <button class="btn btn-outline-{{ color }} dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <i class="fa-regular fa-calendar-days"></i> {{ 'spipu.dashboard.configuration.period.title'|trans }}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <form class="px-4 py-3" method="get">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="dp_type">{{ 'spipu.dashboard.configuration.period.presets'|trans }}</label>
                            <select class="form-select" name="dp[type]" id="dp_type">
                                <option value="">---</option>
                                {% for period in manager.periods %}
                                    <option value="{{ period.code }}" {% if (period.code == type) %}selected{% endif %}>{{ period.label }}</option>
                                {% endfor %}
                                <option value="custom" {% if ('custom' == type) %}selected{% endif %}>{{ 'spipu.dashboard.period.custom'|trans }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="dp_from">{{ 'spipu.dashboard.configuration.period.from'|trans }}</label>
                            <input type="datetime-local" class="form-control" id="dp_from" name="dp[from]" value="{{ from }}">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="dp_to">{{ 'spipu.dashboard.configuration.period.to'|trans }}</label>
                            <input type="datetime-local" class="form-control" id="dp_to" name="dp[to]" value="{{ to }}">
                        </div>
                    </div>
                    <div class="col-12 text-nowrap">
                        <a href="{{ manager.router.resetUrl }}" class="btn btn-outline-secondary me-2" style="min-width: 100px !important;">{{ 'spipu.dashboard.configuration.action.reset'|trans }}</a>
                        <button type="submit" class="btn btn-primary text-no" style="min-width: 100px !important;">{{ 'spipu.dashboard.configuration.action.apply_period'|trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>