<a
        id="create-dashboard-button"
        data-bs-toggle="modal"
        data-bs-target="#createDashboardNameModal"
        role="button"
        class="mt-1 ms-1 pointer d-none d-md-inline-block text-primary"
>
    <i class="fas fa-plus me-1"></i>
    {{ 'spipu.dashboard.dashboard.create'|trans }}
</a>
<div class="modal fade"
     id="createDashboardNameModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="invoiceNumberModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">{{ 'spipu.dashboard.dashboard.create'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ manager.router.url('create') }}">
                    <fieldset class="mb-3">
                        <label for="dashboardModalName">{{ 'spipu.dashboard.label.label_dashboard_name'|trans }}</label>
                        <input type="text"
                               name="dashboard_name"
                               id="dashboardModalName"
                               class="form-control"
                               placeholder="{{ 'spipu.dashboard.label.label_dashboard_name'|trans }}"
                               required="required"
                        />
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-plus"></i> {{ 'spipu.ui.action.create'|trans }}
                        </button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <i class="fas fa-undo-alt"></i> {{ 'spipu.ui.action.back'|trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
