<a
        id="duplicate-dashboard-button"
        data-bs-toggle="modal"
        data-bs-target="#duplicateDashboardNameModal"
        role="button"
        class="mt-1 ms-1 pointer d-none d-md-inline-block text-primary"
>
    <i class="fa-solid fa-copy"></i>
    {{ 'spipu.dashboard.dashboard.duplicate'|trans }}
</a>
<div class="modal fade"
     id="duplicateDashboardNameModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="duplicateDashboardNameModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">{{ 'spipu.dashboard.dashboard.duplicate'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post"
                      action="{{ manager.router.url('duplicate') }}">
                    <fieldset class="mb-3">
                        <label for="dashboardModalName">{{ 'spipu.dashboard.label.label_dashboard_name'|trans }}</label>
                        <input type="text"
                               name="dashboard_name"
                               id="dashboardModalName"
                               class="form-control"
                               placeholder="{{ 'spipu.dashboard.label.label_dashboard_name'|trans }}"
                               value="{{ manager.resource.name }} - duplicated"
                               required="required"
                        />
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            <i class="fa-solid fa-pen-to-square"></i> {{ 'spipu.dashboard.ui.action.duplicate'|trans }}
                        </button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-rotate-left"></i> {{ 'spipu.ui.action.back'|trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
